/* Your own styles comes here */
@import url('https://fonts.googleapis.com/css?family=Roboto');
.header {
  display: flex;
  place-items: center;
  justify-content: space-between;
  padding: 8px;
  border-bottom: solid #ed5e3f;
}
.logo {
  color: #ed5e3f;
  font: 35px;
}
button {
  background-color: #ed5e3f;
  color: white;
  font-weight: bold;
  padding: 4px 4px;
  border-radius: 5px;
  border-color: #ed5e3f;
}
.nav {
  display: flex;
  place-items: center;
  gap: 4px;
  list-style: none;
  font-size: large;
}
.input-container {
  display: flex;
  align-items: center;
  border: 1px solid #ff6e00;
  padding: 5px;
  width: 300px;
  height: 50px;
  border-radius: 50px;
  margin: 10px;
  position: relative;
  transition: width 1.5s;
}

.input {
  margin: 10px 50px;
  margin-left: 20px;
  width: 100%;
  color: #ff6e00;
  border: none;
  background: transparent;
  outline: none;
  transition-delay: 0.5s;
}
.magnifier {
  position: absolute;
  right: 15px;
  width: 25px;
  text-align: center;
  margin: 0 auto;
  cursor: pointer;
  color: #ffa31a;
}
img {
  width: 200px;
  border-radius: 5px;
  margin: auto;
}
.title {
  color: #ed5e3f;
  padding: -8px;
  text-decoration: underline;
}

.favourites {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  gap: 4px;
  border-top: 1px;
  padding: 8px;
  font-weight: bold;
  text-align: center;

  @media (min-width: 480px) {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }

  @media (min-width: 640px) {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
  @media (min-width: 768px) {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
}
.random {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  justify-content: center;
  text-align: center;
  padding: 8px;
  @media (min-width: 480px) {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }

  @media (min-width: 640px) {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
  @media (min-width: 768px) {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
}
.card {
  display: flex;
  flex-direction: column;
  gap: 4px;
  justify-content: center;
  padding: 8px;
  text-align: center;
  margin: 50px;
  font-weight: bold;
}

.popup-container {
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.popup-container.hidden {
  opacity: 0;
  pointer-events: none;
}

.popup {
  background-color: #fff;
  border-radius: 5px;
  padding: 0 2rem;
  position: relative;
  overflow: auto;
  max-height: 100vh;
  max-width: 600px;
  width: 100%;
}
