/* Your own styles comes here */
.header {
  display: flex;
  place-items: center;
  justify-content: space-between;
  padding: 8px;
  border-bottom: solid #ed5e3f;
}
.logo {
  color: #ed5e3f;
  font: 35px;
}
button {
  background-color: #ed5e3f;
  color: white;
  font-weight: bold;
  padding: 4px 4px;
  border-radius: 5px;
  border-color: #ed5e3f;
}
.nav {
  display: flex;
  place-items: center;
  gap: 4px;
  list-style: none;
  font-size: large;
}
input {
  border-color: #ed5e3f;
  border-radius: 20px;
  color: #ed5e3f;
  padding: 4px;
}
img {
  width: 200px;
  border-radius: 5px;
  margin: auto;
}
.title {
  color: #ed5e3f;
  padding: -8px;
  text-decoration: underline;
}

.favourites {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  gap: 4px;
  border-top: 1px;
  padding: 8px;
  font-weight: bold;
  text-align: center;

  @media (min-width: 480px) {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }

  @media (min-width: 640px) {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
  @media (min-width: 768px) {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
}
.random {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  justify-content: center;
  text-align: center;
  @media (min-width: 480px) {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }

  @media (min-width: 640px) {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
  @media (min-width: 768px) {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
}
.card {
  display: flex;
  flex-direction: column;
  gap: 4px;
  justify-content: center;
}
